.App{
  /* border :1px solid red; */
  display: flex;
  width: 1280px;
  margin: auto;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width:375px) and (max-width:675px) {
  .App {
      /* border :1px solid red; */
      display: flex;
      margin: auto;
      width: 375px;
      /* justify-content: space-around; */
      align-items: center;
      flex-direction: column;
    }
}



